/* Agrega un estilo general para la imagen */
img {
  max-width: 100%; /* La imagen no será más ancha que el contenedor */
  height: auto; /* Mantiene la proporción de aspecto original */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Agrega estilos específicos para el contenedor de la imagen si es necesario */
/* Puedes ajustar estos estilos según tus necesidades */
section {
  max-width: 1350px; /* O el ancho deseado del contenedor */
  margin: 0 auto;
}

